@model List<app_OlimpiadasChapinas.Models.csEstructuraDeporte.requestDeporte>    

@{   ViewBag.Title = "Deporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento de Deportes</h2>
<form method="post" action="@Url.Action("Deporte", "Deporte")">
    <div class="card border-primary">
        <div class="card-header">
            <label class="p-2">Deporte</label>
            <input type="text" id="idDeporte" name="idDeporte" placeholder="Escribe el ID del Deporte" />
            <button type="submit" class="btn btn-default">Buscar</button>
            <button onclick="location.href = '@Url.Action("newDeporte", "Deporte")'; return false" class="btn btn-success">Nuevo</button>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
            <td><b>ID Deporte</b></td>
            <td><b>Nombre</b></td>
            <td><b>Categoría</b></td>
            <td><b>Descripción</b></td>
            <td><b>Cantidad de Jugadores</b></td>
            <td></td>
            <td></td>
            </thead>

            <tbody>
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idDeporte"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["nombre"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["categoria"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["descripcion"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["cantidadJugadores"]</td>
                                <td><button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("ActualizarDeporte", "Deporte", new { idDeporte = Model.Tables[0].Rows[x]["idDeporte"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("eliminar", "Deporte", new { idDeporte = Model.Tables[0].Rows[x]["idDeporte"].ToString() })'; return false;">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</form>

