@model System.Data.DataSet

@{ 
    ViewBag.Title = "Deporte";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsDeporte.js"></script>
    <script src="~/JS/modal.js"></script>
}

<h2 class="table-title">Mantenimiento de Deportes</h2>
<form method="post" action="@Url.Action("Deporte", "Deporte")" class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header d-flex justify-content-between">
            <div>
                <label class="p-2">Deporte</label>
                <input type="text" id="idDeporte" name="idDeporte" placeholder="" />
                <button type="submit" class="btn btn-light">Buscar</button>
                <button onclick="location.href = '@Url.Action("newDeporte", "Deporte")'; return false" class="btn btn-success">Nuevo</button>
            </div>
            <div>
                <button onclick="location.href = '@Url.Action("ExportarPDF", "Reportes", new {nombreDataSet = "Deporte"} )'; return false" class="btn btn-primary">Crear Reporte PDF</button>
                <button onclick="location.href = '@Url.Action("ExportarExcel", "Reportes", new {nombreDataSet = "Deporte"} )'; return false" class="btn btn-primary">Crear Reporte Excel</button>
            </div>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr>
                    <th><b>ID Deporte</b></th>
                    <th><b>Nombre</b></th>
                    <th><b>Categoría</b></th>
                    <th><b>Descripción</b></th>
                    <th><b>Cantidad de Jugadores</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idDeporte"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["nombre"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["categoria"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["descripcion"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["cantidadJugadores"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarDeporte", "Deporte", new { idDeporte = Model.Tables[0].Rows[x]["idDeporte"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="mostrarModalEliminar('@Url.Action("eliminar", "Deporte", new { idDeporte = Model.Tables[0].Rows[x]["idDeporte"].ToString() })');">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>

