@model app_OlimpiadasChapinas.Models.csDataSets

@{
    ViewBag.Title = "newPremiacion";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsPremiacion.js"></script>
}

<h2 class="table-title">Registro de Nuevas Premiaciones</h2>

<form class="contenedor form-principal" action="/Premiacion/Guardar" method="post">
    <div>
        <div class="formulario card border-primary">
            <div class="card-header formulario-header">
                <label class="p-2">Nueva Premiación</label>
                <button onclick="location.href = '@Url.Action("Premiacion", "Premiacion")'; return false;" class="btn btn-success">Regresar</button>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">ID del evento</label>
                    <select required class="form-control mb-2 lista-opciones" id="idEvento" name="idEvento">
                        <option disabled selected>----Seleccionar una opción----</option>
                        @if (Model.Evento.Tables.Count > 0)
                        {
                            if (Model.Evento.Tables[0].Rows.Count > 0)
                            {
                                for (int x = 0; x < Model.Evento.Tables[0].Rows.Count; x++)
                                {
                                    if (Model.Evento.Tables[0].Rows[x]["idEventoPadre"].ToString() == "")
                                    {
                                        <option>@Model.Evento.Tables[0].Rows[x]["idEvento"].ToString() - @Model.Evento.Tables[0].Rows[x]["nombre"].ToString()</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="p-2">ID del puesto de premiación</label>
                    <select type="text" required class="form-control mb-2 lista-opciones" id="idPuesto" name="idPuesto">
                        <option disabled selected>----Seleccionar una opción----</option>
                        @if (Model.PuestoPremiacion.Tables.Count > 0)
                        {
                            if (Model.PuestoPremiacion.Tables[0].Rows.Count > 0)
                            {
                                for (int x = 0; x < Model.PuestoPremiacion.Tables[0].Rows.Count; x++)
                                {
                                    <option>@Model.PuestoPremiacion.Tables[0].Rows[x]["idPuesto"].ToString() - @Model.PuestoPremiacion.Tables[0].Rows[x]["descripcion"].ToString()</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="p-2">ID del participante</label>
                    <select type="text" required class="form-control mb-2 lista-opciones" id="idParticipante" name="idParticipante">
                        <option disabled selected>----Seleccionar una opción----</option>
                        @if (Model.Participante.Tables.Count > 0)
                        {
                            if (Model.Participante.Tables[0].Rows.Count > 0)
                            {
                                for (int x = 0; x < Model.Participante.Tables[0].Rows.Count; x++)
                                {
                                    <option>
                                    @Model.Participante.Tables[0].Rows[x]["idParticipante"].ToString() -
                                    @for (int y = 0; y < Model.Usuario.Tables[0].Rows.Count; y++)
                                    {
                                        if (Model.Participante.Tables[0].Rows[x]["idUsuario"].ToString() == Model.Usuario.Tables[0].Rows[y]["idUsuario"].ToString())
                                        {
                                            @(Model.Usuario.Tables[0].Rows[x]["nombre"].ToString() + " ") @(Model.Usuario.Tables[0].Rows[x]["apellido"].ToString())
                                        }
                                    }
                                    </option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="contenedor-btn">
                <button type="submit" class="btn btn-primary btn-guardar" onclick="validarGuardadoDeCampos(event);">Guardar</button>
            </div>

        </div>
    </div>
</form>

