@model System.Data.DataSet

@{
    ViewBag.Title = "Premiacion";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsPremiacion.js"></script>
    <script src="~/JS/modal.js"></script>
}

<h2 class="table-title">Mantenimiento de Premiaciones</h2>
<form method="post" action="@Url.Action("Premiacion", "Premiacion")"  class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header d-flex justify-content-between">
            <div>
                <label class="p-2">Premiaciones</label>
                <input type="text" id="idPremiacion" name="idPremiacion" placeholder="" />
                <button type="submit" class="btn btn-light">Buscar</button>
                <button onclick="location.href = '@Url.Action("newPremiacion", "Premiacion")'; return false" class="btn btn-success">Nuevo</button>
            </div>
            <div>
                <button onclick="location.href = '@Url.Action("ExportarPDF", "Reportes", new {nombreDataSet = "Premiacion"} )'; return false" class="btn btn-primary">Crear Reporte PDF</button>
                <button onclick="location.href = '@Url.Action("ExportarExcel", "Reportes", new {nombreDataSet = "Premiacion"} )'; return false" class="btn btn-primary">Crear Reporte Excel</button>
            </div>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr>
                    <th><b>ID de la premiación</b></th>
                    <th><b>ID del evento</b></th>
                    <th><b>ID del puesto</b></th>
                    <th><b>ID del participante</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPremiacion"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idEvento"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPuesto"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idParticipante"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarPremiacion", "Premiacion", new { idPremiacion = Model.Tables[0].Rows[x]["idPremiacion"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="mostrarModalEliminar('@Url.Action("Eliminar", "Premiacion", new { idPremiacion = Model.Tables[0].Rows[x]["idPremiacion"].ToString() })');">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>

