@model System.Data.DataSet

@{
    ViewBag.Title = "Participante";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsParticipante.js"></script>
    <script src="~/JS/modal.js"></script>
}

<h2 class="contenedor table-title">Mantenimiento de Participantes</h2>
<form method="post" action="@Url.Action("Participante", "Participante")" class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header d-flex justify-content-between">
            <div>
                <label class="p-2">Participante</label>
                <input type="text" id="idParticipante" name="idParticipante" placeholder="" />
                <button type="submit" class="btn btn-light">Buscar</button>
                <button onclick="location.href = '@Url.Action("newParticipante", "Participante")'; return false" class="btn btn-success">Nuevo</button>
            </div>
            <div>
                <button onclick="location.href = '@Url.Action("ExportarPDF", "Reportes", new {nombreDataSet = "Participante"} )'; return false" class="btn btn-primary">Crear Reporte PDF</button>
                <button onclick="location.href = '@Url.Action("ExportarExcel", "Reportes", new {nombreDataSet = "Participante"} )'; return false" class="btn btn-primary">Crear Reporte Excel</button>
            </div>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr>
                    <th><b>ID del Participante</b></th>
                    <th><b>ID del País</b></th>
                    <th><b>ID del Usuario</b></th>
                    <th><b>Fecha de nacimiento</b></th>
                    <th><b>Altura</b></th>
                    <th><b>Peso</b></th>
                    <th><b>Género</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idParticipante"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPais"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idUsuario"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["fechaNacimiento"].ToString().Substring(0, 10)</td>
                                <td class="table-active">@Convert.ToDouble(Model.Tables[0].Rows[x]["altura"]).ToString("F2") m</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["peso"] lb</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["genero"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarParticipante", "Participante", new { idParticipante = Model.Tables[0].Rows[x]["idParticipante"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="mostrarModalEliminar('@Url.Action("Eliminar", "Participante", new { idParticipante = Model.Tables[0].Rows[x]["idParticipante"].ToString() })');">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>



