@model System.Data.DataSet

@{
    ViewBag.Title = "ActualizarUsuario";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsUsuario.js"></script>
}

<h2 class="contenedor table-title">Actualización de Usuarios</h2>

<form class="contenedor form-principal" action="/Usuario/Actualizar" method="post">
    <div>
        <div class="formulario card border-primary">
            <div class="card-header formulario-header">
                <label class="p-2">Nuevo Usuario</label>
                <button onclick="location.href = '@Url.Action("Usuario", "Usuario")'; return false;" class="btn btn-success">Regresar</button>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Email</label>
                    <input type="email" value="@Model.Tables[0].Rows[0]["email"].ToString()" required class="form-control mb-2" id="email" name="email" />
                </div>

                <div class="form-group">
                    <label class="p-2">Nombre</label>
                    <input type="text" value="@Model.Tables[0].Rows[0]["nombre"].ToString()" required class="form-control mb-2" id="nombre" name="nombre" />
                </div>

                <div class="form-group">
                    <label class="p-2">Apellido</label>
                    <input type="text" value="@Model.Tables[0].Rows[0]["apellido"].ToString()" required class="form-control mb-2" id="apellido" name="apellido" />
                </div>

                <div class="form-group">
                    <label class="p-2">Antigua contraseña</label>
                    <input type="password" required class="form-control mb-2" id="contraseñaAlmacenada" name="contraseñaAlmacenada" />
                </div>

                <div class="form-group">
                    <label class="p-2">Nueva contraseña</label>
                    <input type="password" required class="form-control mb-2" id="contraseñaActualizada" name="contraseñaActualizada" />
                </div>

                <div class="form-group">
                    <label class="p-2">Teléfono</label>
                    <input type="tel" value="@Model.Tables[0].Rows[0]["telefono"].ToString()" required class="form-control mb-2" id="telefono" name="telefono" />
                </div>
            </div>

            <div class="contenedor-btn">
                <button type="submit" class="btn btn-primary btn-guardar" onclick="validarGuardadoDeCampos(event);">Guardar</button>
            </div>

        </div>
    </div>
</form>





