@model System.Data.DataSet

@{
    ViewBag.Title = "Usuario";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsUsuario.js"></script>
}

<h2 class="contenedor table-title">Mantenimiento de Usuarios</h2>
<form method="post" action="@Url.Action("Usuario", "Usuario")" class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header">
            <label class="p-2">Usuarios</label>
            <input type="text" id="idUsuario" name="idUsuario" placeholder="" />
            <input type="text" id="email" name="email" placeholder="" />
            <button type="submit" class="btn btn-light">Buscar</button>
            <button onclick="location.href = '@Url.Action("newUsuario", "Usuario")'; return false" class="btn btn-success">Nuevo</button>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr align="center">
                    <th><b>ID del Usuario</b></th>
                    <th><b>Nombre</b></th>
                    <th><b>Apellido</b></th>
                    <th><b>Email</b></th>
                    <th><b>Teléfono</b></th>
                    <th><b>DNI</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idUsuario"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["nombre"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["apellido"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["email"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["telefono"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["DNI"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarUsuario", "Usuario", new { email = Model.Tables[0].Rows[x]["email"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="location.href = '@Url.Action("Eliminar", "Usuario", new { email = Model.Tables[0].Rows[x]["email"].ToString() })'; return false;">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>

