@model System.Data.DataSet
@{
    ViewBag.Title = "Pais";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsPais.js"></script>
    <script src="~/JS/modal.js"></script>
}

<h2  class="table-title">Mantenimiento de Paises</h2>
<form method="post" action="@Url.Action("Pais", "Pais")" class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header d-flex justify-content-between">
            <div>
                <label class="p-2">País</label>
                <input type="text" id="idPais" name="idPais" placeholder="" />
                <button type="submit" class="btn btn-light">Buscar</button>
                <button onclick="location.href = '@Url.Action("newPais", "Pais")'; return false" class="btn btn-success">Nuevo</button>
            </div>
            <div>
                <button onclick="location.href = '@Url.Action("ExportarPDF", "Reportes", new {nombreDataSet = "Pais"} )'; return false" class="btn btn-primary">Crear Reporte PDF</button>
                <button onclick="location.href = '@Url.Action("ExportarExcel", "Reportes", new {nombreDataSet = "Pais"} )'; return false" class="btn btn-primary">Crear Reporte Excel</button>
            </div>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr align="center">
                    <th><b>ID de País</b></th>
                    <th><b>Nombre</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPais"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["nombre"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarPais", "Pais", new { idPais = Model.Tables[0].Rows[x]["idPais"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="mostrarModalEliminar('@Url.Action("Eliminar", "Pais", new { idPais = Model.Tables[0].Rows[x]["idPais"].ToString() })');">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>