@model System.Data.DataSet

@{
    ViewBag.Title = "Inscripcion";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsInscripcion.js"></script>
    <script src="~/JS/modal.js"></script>

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            mostrarNotificacion("@TempData["ErrorMessage"]");
        </script>
    }
}

<h2 class="table-title">Mantenimiento de Inscripciones</h2>
<form method="post" action="@Url.Action("Inscripcion", "Inscripcion")" class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header d-flex justify-content-between">
            <div>
                <label class="p-2">Inscripciones</label>
                <input type="text" id="idEvento" name="idEvento" placeholder="" />
                <input type="text" id="idParticipante" name="idParticipante" placeholder="" />
                <input type="text" id="idPago" name="idPago" placeholder="" />
                <button type="submit" class="btn btn-light">Buscar</button>
                <button onclick="location.href = '@Url.Action("newInscripcion", "Inscripcion")'; return false" class="btn btn-success">Nuevo</button>
            </div>
            <div class="d-flex flex-column gap-2">
                <button onclick="location.href = '@Url.Action("ExportarPDF", "Reportes", new {nombreDataSet = "Inscripcion"} )'; return false" class="btn btn-primary">Crear Reporte PDF</button>
                <button onclick="location.href = '@Url.Action("ExportarExcel", "Reportes", new {nombreDataSet = "Inscripcion"} )'; return false" class="btn btn-primary">Crear Reporte Excel</button>
            </div>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr>
                    <th><b>ID Evento</b></th>
                    <th><b>ID Participante</b></th>
                    <th><b>ID Pago</b></th>
                    <th><b>fuentePublicidad</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idEvento"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idParticipante"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPago"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["fuentePublicidad"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarInscripcion", "Inscripcion", new { idEvento = Model.Tables[0].Rows[x]["idEvento"].ToString(), idParticipante = Model.Tables[0].Rows[x]["idParticipante"].ToString(), idPago = Model.Tables[0].Rows[x]["idPago"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="mostrarModalEliminar('@Url.Action("Eliminar", "Inscripcion", new { idEvento = Model.Tables[0].Rows[x]["idEvento"].ToString(), idParticipante = Model.Tables[0].Rows[x]["idParticipante"].ToString(), idPago = Model.Tables[0].Rows[x]["idPago"].ToString() })');">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</form>



