@model System.Data.DataSet

@{
    ViewBag.Title = "Inscripcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento de Inscripciones</h2>
<form method="post" action="@Url.Action("Inscripcion", "Inscripcion")">
    <div class="card border-primary">
        <div class="card-header">
            <label class="p-2">Inscripciones</label>
            <input type="text" id="idEvento" name="idEvento" placeholder="Escribe el ID del Evento" />
            <input type="text" id="idParticipante" name="idParticipante" placeholder="Escribe el ID del Participante" />
            <input type="text" id="idPago" name="idPago" placeholder="Escribe el ID del Pago" />
            <button type="submit" class="btn btn-default">Buscar</button>
            <button onclick="location.href = '@Url.Action("newInscripcion", "Inscripcion")'; return false" class="btn btn-success">Nuevo</button>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr>
                    <th><b>ID Evento</b></th>
                    <th><b>ID Participante</b></th>
                    <th><b>ID Pago</b></th>
                    <th><b>fuentePublicidad</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idEvento"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idParticipante"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPago"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["fuentePublicidad"]</td>
                                <td><button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("ActualizarInscripcion", "Inscripcion", new { idEvento = Model.Tables[0].Rows[x]["idEvento"].ToString(), idParticipante = Model.Tables[0].Rows[x]["idParticipante"].ToString(), idPago = Model.Tables[0].Rows[x]["idPago"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Eliminar", "Inscripcion", new { idEvento = Model.Tables[0].Rows[x]["idEvento"].ToString(), idParticipante = Model.Tables[0].Rows[x]["idParticipante"].ToString(), idPago = Model.Tables[0].Rows[x]["idPago"].ToString() })'; return false;">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</form>



