@model System.Data.DataSet

@{
    ViewBag.Title = "PuestoPremiacion";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsPuestoPremiacion.js"></script>
}

<h2 class="contenedor table-title">Mantenimiento de Puestos de Premiación</h2>
<form method="post" action="@Url.Action("PuestoPremiacion", "PuestoPremiacion")" class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header">
            <label class="p-2">Puestos de premiación</label>
            <input type="text" id="idPuesto" name="idPuesto" placeholder=""/>
            <button type="submit" class="btn btn-light">Buscar</button>
            <button onclick="location.href = '@Url.Action("newPuestoPremiacion", "PuestoPremiacion")'; return false" class="btn btn-success">Nuevo</button>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr>
                    <th><b>ID Puesto</b></th>
                    <th><b>Descripción</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPuesto"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["descripcion"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarPuestoPremiacion", "PuestoPremiacion", new { idPuesto = Model.Tables[0].Rows[x]["idPuesto"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="location.href = '@Url.Action("Eliminar", "PuestoPremiacion", new { idPuesto = Model.Tables[0].Rows[x]["idPuesto"].ToString() })'; return false;">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>


