@model System.Data.DataSet
@{
    ViewBag.Title = "Pago";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsPago.js"></script>
}

<h2 class="contenedor table-title">Mantenimiento de Pagos</h2>
<form method="post" action="@Url.Action("Pago", "Pago")" class="contenedor">
    <div class="card border-primary tabla-principal">
        <div class="card-header d-flex justify-content-between">
            <div>
                <label class="p-2">Pagos</label>
                <input type="text" id="idPago" name="idPago" placeholder="" />
                <button type="submit" class="btn btn-light">Buscar</button>
                <button onclick="location.href = '@Url.Action("newPago", "Pago")'; return false" class="btn btn-success">Nuevo</button>
            </div>
            <div>
                <button onclick="location.href = '@Url.Action("ExportarPDF", "Reportes", new {nombreDataSet = "Pago"} )'; return false" class="btn btn-primary">Crear Reporte PDF</button>
                <button onclick="location.href = '@Url.Action("ExportarExcel", "Reportes", new {nombreDataSet = "Pago"} )'; return false" class="btn btn-primary">Crear Reporte Excel</button>
            </div>
        </div>

        <table class="table-responsive" border="1" style="color: black">
            <thead>
                <tr>
                    <th><b>ID de Pago</b></th>
                    <th><b>ID Forma de Pago</b></th>
                    <th><b>Monto</b></th>
                    <th><b>Fecha</b></th>
                    <th><b>Hora</b></th>
                    <th><b>Observaciones</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="datos">
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="table-active">@Model.Tables[0].Rows[x]["idPago"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["idFormaPago"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["montoPago"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["fecha"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["hora"]</td>
                                <td class="table-active">@Model.Tables[0].Rows[x]["observaciones"]</td>
                                <td><button type="button" class="btn btn-warning btn-button" onclick="location.href = '@Url.Action("ActualizarPago", "Pago", new { idPago = Model.Tables[0].Rows[x]["idPago"].ToString() })'; return false;">Actualizar</button></td>
                                <td><button type="button" class="btn btn-danger btn-button" onclick="location.href = '@Url.Action("Eliminar", "Pago", new { idPago = Model.Tables[0].Rows[x]["idPago"].ToString() })'; return false;">Eliminar</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>
