@model app_OlimpiadasChapinas.Models.csDataSets

@{
    ViewBag.Title = "ActualizarEvento";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var deporte = Model.Data.Tables[0].Rows[0]["idDeporte"].ToString().Trim();
    var eventoPadre = Model.Data.Tables[0].Rows[0]["idEventoPadre"].ToString().Trim();
}

@section scripts {
    <script src="~/JS/jsEvento.js"></script>
    <script src="~/JS/modal.js"></script>

    @if (TempData["ErrorMensaje"] != null)
    {
        <script>
            mostrarNotificacion("@TempData["ErrorMensaje"]");
        </script>
    }
}

<h2 class="table-title">Actualización de Eventos Eventos</h2>

<form class="contenedor form-principal" action="/Evento/Actualizar" method="post">
    <div>
        <div class="formulario card border-primary">
            <div class="card-header formulario-header">
                <label class="p-2">Nuevo Evento</label>
                <button onclick="location.href = '@Url.Action("Evento", "Evento")'; return false;" class="btn btn-success">Regresar</button>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    @*<label class="p-2">ID del Evento</label>*@
                    <input type="text" hidden value="@Model.Data.Tables[0].Rows[0]["idEvento"].ToString()" required class="form-control mb-2 input-readonly" id="idEvento" name="idEvento" />
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Nombre del Evento</label>
                    <input type="text" value="@Model.Data.Tables[0].Rows[0]["nombre"].ToString()" required class="form-control mb-2" id="nombre" name="nombre" />
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">ID Deporte</label>
                    <select type="number" required class="form-control lista-opciones mb-2" id="idDeporte" name="idDeporte">
                        <option disabled>----Seleccionar una opción----</option>
                        @if (Model.Deporte.Tables.Count > 0)
                        {
                            if (Model.Deporte.Tables[0].Rows.Count > 0)
                            {
                                for (int x = 0; x < Model.Deporte.Tables[0].Rows.Count; x++)
                                {
                                    <option @(deporte == Model.Deporte.Tables[0].Rows[x]["idDeporte"].ToString() ? "selected" : "")>@Model.Deporte.Tables[0].Rows[x]["idDeporte"].ToString() - @Model.Deporte.Tables[0].Rows[x]["nombre"].ToString()</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">ID del Evento Principal</label>
                    <select type="number" class="form-control mb-2 lista-opciones" id="idEventoPadre" name="idEventoPadre">
                        <option disabled>----Seleccionar una opción----</option>
                        <option @(eventoPadre == Model.Data.Tables[0].Rows[0]["idEventoPadre"].ToString() ? "selected" : "")>0 - Sin evento principal</option>
                        @if (Model.Evento.Tables.Count > 0)
                        {
                            if (Model.Evento.Tables[0].Rows.Count > 0)
                            {
                                for (int x = 0; x < Model.Evento.Tables[0].Rows.Count; x++)
                                {
                                    if (Model.Evento.Tables[0].Rows[x]["idEventoPadre"].ToString() == "")
                                    {
                                        <option @(eventoPadre == Model.Evento.Tables[0].Rows[x]["idEvento"].ToString() ? "selected" : "")>@Model.Evento.Tables[0].Rows[x]["idEvento"].ToString() - @Model.Evento.Tables[0].Rows[x]["nombre"].ToString()</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Fecha de inicio del Evento</label>
                    <input type="date" value="@Convert.ToDateTime(Model.Data.Tables[0].Rows[0]["fechaInicio"]).ToString("yyyy-MM-dd")" required class="form-control mb-2" id="fechaInicio" name="fechaInicio" />
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Fecha de fin del Evento</label>
                    <input type="date" value="@Convert.ToDateTime(Model.Data.Tables[0].Rows[0]["fechaFin"]).ToString("yyyy-MM-dd")" required class="form-control mb-2" id="fechaFin" name="fechaFin" />
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Cantidad de participantes</label>
                    <input type="number" value="@Model.Data.Tables[0].Rows[0]["cantidadParticipantes"].ToString()" required class="form-control mb-2" id="cantidadParticipantes" name="cantidadParticipantes" min="2" max="32" />
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Monto de Inscripción</label>
                    <input type="number" value="@Model.Data.Tables[0].Rows[0]["montoInscripcion"].ToString()" required class="form-control mb-2" id="montoInscripcion" name="montoInscripcion" min="0" max="1000" />
                </div>
            </div>

            <div class="contenedor-btn">
                <button type="submit" class="btn btn-primary btn-guardar" onclick="validarGuardadoDeCampos(event);">Guardar</button>
            </div>

        </div>
    </div>

</form>
