<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Olimpiadas Chapinas</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/CSS/style.css?v=2")" rel="stylesheet" />
</head>
<body class="@(ViewBag.BodyClass)">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark mb-0">
        <div class="container">
            @Html.ActionLink("Olimpiadas Chapinas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Deporte", "Deporte", "Deporte", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Evento", "Evento", "Evento", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("FormaPago", "FormaPago", "FormaPago", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Inscripcion", "Inscripcion", "Inscripcion", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Pago", "Pago", "Pago", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Pais", "Pais", "Pais", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Participante", "Participante", "Participante", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Premiacion", "Premiacion", "Premiacion", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Puesto", "PuestoPremiacion", "PuestoPremiacion", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Usuario", "Usuario", "Usuario", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="#" class="btn btn-danger" id="btnConfirmarEliminar">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content mt-0 p-0">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Olimpiadas Chapinas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
